@charset "UTF-8";

.mainvisual{
  background-image: url(../img/pexels-andrei-tanase-1271619.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.about .site-title{
  margin: 30px auto 0;
}

.about p{
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  letter-spacing: 8px;
}

.about .about-main{
  font-size: 30px;
  margin: 30px auto;
}

.about-sub{
  font-size: 18px;
  line-height: 2rem;
}

.product_btn{
  text-align: center;
}

.about_btn{
  display: inline-block;
  background-color: rgb(165, 151, 134);
  padding: 20px 50px;
  margin: 50px 0;
  border: 1px solid black;
  font-size: 20px;
  color: #fff;
}

.about_activity{
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.about_activity_pic{
  width: 450px;
  height: 300px;
}

.about_activity_pic img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.about_activity_text{
  width: 250px;
  margin-left: 10px;
}


.about_activity h3{
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 23px;
}

.about_activity p{
  letter-spacing: 4px;
  line-height: 2rem;
}

@media(max-width:600px){

  .about .about-main{
    font-size: 24px;
    margin: 30px auto;
  }
  
  .about-sub{
    font-size: 16px;
    line-height: 2.5rem;
  }
  
  .about_btn{
    padding: 20px 40px;
  }

  .about_activity{
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .about_activity_pic{
    margin: 0 auto;
    width: 300px;
    height: 200px;
  }
  
  .about_activity_text{
    margin: 0 auto;
    width: 300px;
  }
  
  .about_activity_pic img{
    height: 200px;
  }
  
  .about_activity h3{
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about_activity p{
    letter-spacing: 4px;
    line-height: 2rem;
  }
}